# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Elastic Beanstalk Files #
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
sozcukApp/.elasticbeanstalk/*
sozcukApp/.ebextensions/*

# Backup files #
*.bak

# Python virtual environment #
venv_sozcukApp/
*.pyc

# VS Code #
.vscode/

# Mac OS #
.DS_Store

# Settings #
sozcukApp/sozcukApp/settings.py

# Dashboard #
dashboard/db_creds.json

# Slack Token #
sozcukApp/core/slack_token.json

# Profanity Filter #
sozcukApp/core/bad_words.csv